---
layout: default
---
<style>
.CodeMirror {
	height: auto;
}
.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
}
</style>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-list sideNav">
				<li class="active">	
					<a href="#example">
						<i class="icon-chevron-right"></i>
						Example
					</a>
				</li>
				<li>	
					<a href="#code">
						<i class="icon-chevron-right"></i>
						Code
					</a>
				</li>
				<li>	
					<a href="#explain">
						<i class="icon-chevron-right"></i>
						Explain
					</a>
				</li>
			</ul>
		</div>
		<div class="span9">
			{% assign exampleCode = page.section | prepend:'sections/' | append: '/code/example.html' %}
			{% assign codeCode = page.section | prepend:'sections/' | append: '/code/code.html' %}
			{% assign explainCode = page.section | prepend:'sections/' | append: '/code/explain.html' %}

			<div id="example" class="sections">
				<h2>Example</h2>
				<p>{{ page.exampleDescription }}</p>
				<textarea id="html">
{% include exampleCode %}
				</textarea>
			</div>

			<div id="code" class="sections">
				<div class="btn-group pull-right">
					<button class="btn btn-primary" id="runCode">Run</button>	
					<button class="btn btn-primary" id="highlight" data-highlight="{{ page.codeHighlight }}"><i class="icon-eye-open icon-white"></i></button>	
				</div>
				<h2>Code</h2>
				<span class="clearfix"></span>
				<p>{{ page.codeDescription }}</p>
				<textarea id="javascript">
{% include codeCode %}
				</textarea>
				<div class="alert alert-error" style="display:none;" id="windowError">
				</div>
				<div id="preview" style="display:none;" class="preview"></div>
				
			</div>

			<div id="explain" class="sections">
				<h2>Explain</h2>
				<p>{{ page.explainDescription }}</p>
				<textarea id="explainCode">
{% include explainCode %}
				</textarea>
			</div>
		</div>
	</div>
</div>
{{ content }}
<script type="text/javascript" src="/js/presentation.js"></script>
<script src="/js/lib/jquery.mockjax.js"></script>
<script type="text/javascript" src="/js/ajaxurls.js"></script>

